<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Information</title>
</head>
<body>
    <h1>Education Information</h1>
    <div class="educ-info">
        <ul>
            <li>Mother Sheperd: <b>2007 - 2009</b></li>
            <li>Dee Hwa Liong College Foundation: <b>2010 - 2015</b></li>
            <li>Angeles University Foundation: <b>2015 - 2017</b></li>
            <li>Republic Central College: <b>2017 - 2018</b></li>
            <li>Holy Angel University: <b> 2018 - Present</b></li>
        </ul>
    </div>
</body>
</html> 