<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
</head>
<body>
    <h1>Personal Information</h1>
    <img src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t39.30808-6/468709862_3939432443000627_103500216694938238_n.jpg?stp=dst-jpg_p526x296&_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_aid=0&_nc_eui2=AeF8pr_Os65IVHPLc7wcjtFAx9N8zfu9RAvH03zN-71EC0U_swAT15u10CGoiGUc8Wu6YAT6ifiuPXc3qEvZALkI&_nc_ohc=ERqpyfHrDQIQ7kNvgFNtvBt&_nc_zt=23&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=Atwb7IAUxbScstT4n6yx1v_&oh=00_AYAJInma3LO2nhE2UsuFtsX99ZjVsgtP1EH8n7hYk5FSYQ&oe=674CE66F" height="200" width="150" class="personal-info-img">
    <div class="personal-info">
        <ul>
            <li class="name">Name: SUNDIANG, FRANCIS CARL A.</li>
            <li>Address: Pandacaqui, Mexico Pampanga</li>
            <li>Mobile Number: (+63)962-621-2713</li>
            <li>Email Address: sundiang.franciscarl&#64;gmail.com</li>
            <li>Birth Place: Angeles City</li>
        </ul>
    </div>

    <div class="skills">
        <h2>Personal Skills</h2>
        <ul>
            <li>Time Management</li>
            <li>Problem-Solving</li>
            <li>Programming Skills</li>
            <li>Hardware Problem-Solving</li>
            <li>Software Problem-Solving</li>
        </ul>
    </div>
</body>
</html>