<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reference Information</title>
</head>
<body>
    <h1>Reference</h1>
    <div class="ref-info">
        <ul>
            <li>Band Conductor: Mr. Allein Canlas </li>
            <li>Holy Angel University SOC Chairperson: Prof. Carisma Caro <b>[ccarisma&#64;hau.edu.ph]</b> </li>
            <li>Band Manager: Mrs. Felicita Davis</li>
            <li>Band Conductor: Ms. Tiffany Chei Manaloto</li>
        </ul>
    </div>
</body>
</html> 
