<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Information</title>
</head>
<body>
    <h1>Training Information</h1>
    <div class="train-info">
        <ul>
            <li>
                Certification in freeCodeCamp: <b>2024</b>
                (<a href="https://www.freecodecamp.org/certification/Sundiang-Francis-Carl-A/responsive-web-design" target="_blank">Certification for Responsive Web Design</a>)
                (<a href = "https://www.freecodecamp.org/certification/Sundiang-Francis-Carl-A/javascript-algorithms-and-data-structures" target="_blank">Certification for Legacy Javascript</a>)
            </li>
            <li>Certification in Coursera: <b>2023</b></li> (<a href = "https://www.coursera.org/account/accomplishments/verify/X3NX5TGGW6PQ"target="_blank">Certification for Coursera </a>)
            <li>Certification in CCNA Introduction to Networks: <b>2024</b></li>(<a href = "https://www.credly.com/badges/db6cd191-9fb7-42c1-9e2b-d87a5e5774ec"target="_blank">Certification for CCNA Introduction to Networking </a>)
            <li>Certification in Cyber Threat Management: <b>2024</b></li>(<a href = "https://www.credly.com/badges/38995c90-2f03-40ef-8118-b3d06f20a3f0"target="_blank">Certification for Cyber Threat Management </a>)
        </ul>   
    </div>
</body>
</html>
